{%extends 'main/base.html'%}

{%block title%} Create New List{% endblock %}

{%block content%}
<h3>Create Wishlist</h3>
<h6>Here you can create your own wishlist!</h6>
<form method="POST" action="/create/" class="form-group">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="submit", name="save", class="btn btn-success">Create</button>
        </div>
        {{form.name}}
    </div>
    <h6>Write here name of your wishlist and press button Create.</h6>
</form>
{% endblock %}